<%- include('header') -%>
<div class="heading">
	<hr>
		<h1>
			<%= locals.title ?? '' %>
		</h1>
	<hr>
	<% if (locals.loggedIn) { %>
		<p>Innskráður notandi: <%= locals.username %> (<%= locals.admin ? 'admin' : 'notandi' %>)
					<% } else { %>
						<p>Þú ert ekki innskráður notandi.</p>
						<% } %>

</div>
	<% if (locals.loggedIn) { %>
			<%- include('skyrsla') %>
					<% }  %>
					


							<%- include('footer') -%>